* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Black.ttf);
  font-weight: 900;
}
html {
  font-family: poppins;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
}
a {
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
textarea,
button,
select {
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
}
::after,
::before {
  box-sizing: border-box;
}
.container {
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 12px;
  margin: 0 auto;
}
img {
  display: block;
}
